@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f9fafb;
    color: #111827;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #111827;
  }
  
  p, span, div {
    color: inherit;
  }
  
  button {
    color: inherit;
  }
}
